[submodule "shared/shared_python"]
	path = shared/python
	url = https://github.com/nuniesmith/shared_python.git
[submodule "shared/shared_schema"]
	path = shared/shared_schema
	url = https://github.com/nuniesmith/shared_schema.git
[submodule "shared/shared_scripts"]
	path = shared/shared_scripts
	url = https://github.com/nuniesmith/shared-scripts.git
[submodule "shared/shared_docker"]
	path = shared/shared_docker
	url = https://github.com/nuniesmith/shared-docker.git
